.data_formulary {
    width: 90vw;
    display: flex;
    justify-content: start;
    margin-left: 5vw;
    margin-top: 2rem;

    form {
        background-color: var(--color-fondo-componentes);
        padding: 1rem;
        border-radius: 15px;
        width: 90vw;
    }

    .data_formulary_inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 1rem;

        div {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            input {
                width: 45%;
            }
        }
    }
}

.data_information {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5vw;
    padding-block: 1rem;

    .data_information_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 90vw;
        background-color: var(--color-fondo-componentes);

        border-radius: 15px;

        .data_information_section_date {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .data_information_section_custom {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .data_information_section_place{
            display: flex;
            gap: 1rem;
        }
    }
}

.data_payment {
    width: 90vw;
    display: flex;
    justify-content: start;
    margin-left: 5vw;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--color-fondo-componentes);
        padding: 1rem;
        border-radius: 15px;
        width: 90vw;
    }

    .container_payment {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}

.purchase_buttons {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin-left: 5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
